body {
  background-image: linear-gradient(to bottom, #3a1df5, #1a0890);
  background-color:#1a0890;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-image: linear-gradient(to top, #e50404, #6c0606);
  background-color: #e50404;
  font-weight: 700;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: rgb(255, 253, 162);
  text-shadow: 1px -1px black;
  padding: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 490px;
  background-image: linear-gradient(to bottom, #3a1df5, #1a0890);
  margin-bottom: 10px;
}

.question {
  margin: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 253, 162);
  text-shadow: 1px -1px 1px black;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option{
  width: 300px;
  padding: 10px;
  border-radius: 17px;
  border: 1px solid black;
  font-weight: 600;
  background-color: white;
}

.option:hover {
  background-color: #391bfb;
  color: #ffe90c;
  transition: 0.5s;
}

.answer{
  display: none;
  margin: auto;
}

h3 {
  width: 250px;
  color: white;
  margin: 0 auto;
  font-size: 1.5rem;
  padding-bottom: 12px;
}

img {
  height: 275px;
  width: auto;
  border-radius: 35px;
}

.add-shake {
  animation: shake .3s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#onomatopoeia {
  display: none;
}

.add-onomatopoeia {
  animation: onomatopoeia 1s;
}

@keyframes onomatopoeia {
  100% { transform: scale(6); }
}
#graphic {
  display: none;
}

.fly-right {
  animation: straight-right 1.1s;
}

@keyframes straight-right {
  0% { transform: translateX(0); }
  100%{ transform: translateX(350%) }  
}

.fly-left {
  animation: straight-left 1.1s;
}

@keyframes straight-left {
  0% { transform: translateX(0); }
  100%{ transform: translateX(-350%) }  
}

.fly-up {
  animation: straight-up 1.1s;
}

@keyframes straight-up {
  0% { transform: translateY(0); }
  100%{ transform: translateY(-350%) }  
}

.disappear {
  animation: change-opacity 1.1s;
}

@keyframes change-opacity {
  0% { opacity: 1; }
  100%{ opacity: 0; }  
}

.swing-right {
  animation: catenary-right 1.1s;
}

@keyframes catenary-right {
  0% { transform: rotate(0deg) translateY(0%) rotate(0deg);}
  100% { transform: rotate(-180deg) translateY(500%) rotate(180deg); }
}

.swing-left {
  animation: catenary-left 1.1s;
}

@keyframes catenary-left {
  0% { transform: rotate(0deg) translateY(0%) rotate(0deg);}
  100% { transform: rotate(180deg) translateY(500%) rotate(-180deg); }
}

.btn-next {
  width: 70px;
  padding: 10px 12px;
  color: rgb(0, 0, 0);
  margin: 10px auto;
} 

.btn-again {
  width: 100px;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #e50404;
  color: white;
}

footer > small {
  padding: 5px;
}